/*resolução dos exercicios do site
http://www.flexboxdefense.com/
*/

/*1*/
.tower-grupo-1 {
display: flex;
justify-content: center;
}

/*2*/
.tower-grupo-1 {
display: flex;
justify-content: flex-end;
}
.tower-grupo-2 {
display: flex;
justify-content: center;
}
.tower-grupo-3 {
display: flex;
justify-content: flex-end;
}

/*3*/
.tower-grupo-1 {
display: flex;
justify-content: center;
}
.tower-grupo-2 {
display: flex;
justify-content: space-between;
}

/*4*/
.tower-grupo-1 {
display: flex;
align-items: flex-end;
}
.tower-grupo-2 {
display: flex;
align-items: flex-end;
}

/*5*/
.tower-grupo-1 {
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.tower-grupo-2 {
display: flex;
justify-content: center;
}
.tower-grupo-3 {
display: flex;
justify-content: center;
align-items: center;
}

/*6*/
.tower-group-1 {
display: flex;
justify-content: space-between;
align-items: center;
}

/*7*/
.tower-grupo-1 {
display: flex;
flex-direction: column;
}
.tower-grupo-2 {
display: flex;
flex-direction: column;
}

/*8*/
.tower-grupo-1 {
display: flex;
flex-direction: column;
justify-content: center;
}
.tower-grupo-2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*9*/
.tower-group-1 {
display: flex;
justify-content: space-around;
flex-direction: row-reverse;
}
.tower-group-2 {
display: flex;
justify-content: space-around;
flex-direction: row-reverse;
align-items: center;
}

